VITE_SUPABASE_URL='https://lgqmeanxmmozvpkdxcjw.supabase.co'
VITE_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxncW1lYW54bW1venZwa2R4Y2p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjc2MjAsImV4cCI6MjA4OTEwMzYyMH0.OSh3DpavVZug9gBq7rNPmxdfhts34qLBiAl270gf1XU'
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TB204GuFwIacsDYvYubQvKjmtcHkeUczjD2QRp9IuNZAo7CI9gWF1nEbkZkzM7DzlsgxEMZI7p8yPskoP9YgLTZ00SJMrXM8l
VITE_SITE_URL=http://localhost:5173
